# Config path eg: `configs/config.yaml`
CONFIG_PATH=

# JWT
JWT_SECRET=secret-key

# DB
DATABASE_URL="host=<host > user=<user> password=<password> dbname=<dbname> port=<port> sslmode=disable"

# Slack
SLACK_BOT_TOKEN=

# Goose CLI
GOOSE_DRIVER=postgres
GOOSE_DBSTRING="${DATABASE_URL}"
GOOSE_MIGRATION_DIR=./migrations
